html {
    display: grid;
    place-items: center;
    scroll-behavior: smooth;
}

/* HEADER */
header {
    margin-top: 10px;
    padding-top: 10px;
    background-color: #161616;
    height: 150px;
}

header div {
    margin-left: 10px;
    width: calc(100% - 20px);
    max-width: 1180px;
    height: 110px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: row;
}

header a {
    text-decoration: none;
    color: inherit;
}

header h1 {
    color: #161616;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

header img {
    padding-top: 10px;
    height: 90px;
    margin-right: 10px;
}

nav {
    display:flex;
    justify-content: center;
}

nav a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
    line-height: 1;
}

/* REGULAR */

pre {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(107, 107, 107);
    color: white;
}

/* BODY/MAIN */
body, main {
    margin: 0;
    width: 100%;
    max-width: 1200px;
    background-color: rgb(214, 214, 214);
    line-height: 1.6;
}

main {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
}

main hr, main h1, main h2, main h3, main h4, main p, main ul, main pre {
    margin-left: 30px;
    margin-right: 30px;
}

main h1, main h2, main h3, main h4 {
    margin-bottom: 5px;
}

main p {
    margin-top: 5px;
}

footer {
    margin-bottom: 10px;
}